# You can find documentation for all the supported env variables at https://docs.immich.app/install/environment-variables

# The location where your uploaded files are stored
UPLOAD_LOCATION=

# The location where your database files are stored. Network shares are not supported for the database
DB_DATA_LOCATION=

# To set a timezone, uncomment the next line and change Etc/UTC to a TZ identifier from this list: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
TZ=Europe/Paris

# The Immich version to use. You can pin this to a specific version like "v2.1.0"
IMMICH_VERSION=v2

# Connection secret for postgres.
DB_PASSWORD=
DB_USERNAME=postgres
DB_DATABASE_NAME=immich


# ========= MACHINE LEARNING / RKNN SETTINGS =========
# Port for the ML service (default: 3003)
MACHINE_LEARNING_PORT=3003

# Number of CPU threads used for RKNN preprocessing/postprocessing
# Recommended: 3 for RK3588 / RK3588C, 2 for smaller RK356x boards
MACHINE_LEARNING_RKNN_THREADS=3
